/* styles.css */

.notFoundTodos {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    font-size: 50px;
    color: red;
    font-weight: bold;
  }